 <!--nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ประวัติส่วนตัว</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav-->

    <div class="container">
      <h2><center>ประวัติส่วนตัว</center></h2>

      <div class="row">
        <div class="col-sm">
          <img src="assets/images/20200227_153447.jpg" width="75%">
        </div>
        <div class="col-sm">
        <center> ชื่อ : นาย พงศกร วิเศษธร <br>
          ชื่อเล่น : บอย <br>
          วันเกิด : 3 กุมภาพันธ์ 2542
          ที่อยู่ตั้งแต่กำเนิด : บ้านเลขที่ 61 หมู่ที่ 10 บ้านท่าศาลา ตำบลท่าศาลา อำเภอมัญจาคีรี จังหวัดขอนแก่น 40160</center>

          <h2 style="margin-top: 15px;"><center>ประวัติการศึกษา <i class="fas fa-user-graduate"></i></center></h2>

      <div class="row">
        <div class="col-10">
          <img src="assets/images/1.jpg" width="50px"> อนุบาล 1 ถึง ป.6 : โรงเรียนพิมพ์ใจวิทย์
        </div>
        <div class="col-2">
          
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          
        </div>
        <div class="col-10 text-right">
          <img src="assets/images/unnamed.png" width="50px"> ม.1 ถึง ม.2 : โรงเรียนเทศบาลสวนสนุก
        </div>
      </div>

      <div class="row">
        <div class="col-10">
          <img src="assets/images/images.png" width="50px"> ม.3 : โรงเรียนมณีอนุสรณ์ศึกษา
        </div>
        <div class="col-2">
        </div>
      </div>

      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10 text-right">
          <img src="assets/images/kktech.jpg" width="50px"> ปวช ถึง ปวส : วิทยาลัยเทคนิคขอนแก่น
        </div>
      </div>

      <div class="row">
        <div class="col-10">
          <img src="assets/images/ดาวน์โหลด.png" width="50px"> ป.ตรี : มหาวิทยาลัยเทคโนโลยีราชมงคล วิทยาเขตขอนแก่น
        </div>
        <div class="col-2">
        </div>
      </div>
      <h2 style="margin-top: 15px;"><center>คติประจําใจ</center></h2>
      <center>ความใฝ่ฝันเกิดขึ้นทุกวินาที อยู่ที่ว่าจะจัดการกับปัจจุบันอย่างไร</center>
        </div>
      </div>

      <!--h2 style="margin-top: 15px;"><center>Own Software</center></h2>

      <div class="row" style="margin-bottom: 15px">
        <div class="col-10">
          สำหรับโปรแกรมนี่้มีชื่อว่า โปรแกรม SAOX เป็น โปรแกรมฟังเพลง ในบริการของ JOOX โดยที่ใช้เว็บ music.sanook.com นำมาใช้ในโปรแกรม เพื่อความง่ายต่อการใช้ สามารถฟัง อัลบั้มเพลงใหม่ ฟังวิทยุออนไลน์ รวมถึง JOOX เรดิโอ และ อื่นๆ ได้ สามารถใช้งานได้เหมือนใช้ music.sanook.com ทั่วไป แต่เรานำมาปรับแต่งอะไรได้นิดๆ หน่อยๆ เพื่อให้การฟังเพลงง่ายขึ้น มีความสุขกับการฟังเพลงมากขึ้น สามารถฟังเพลงได้เลย ไม่ต้องเสียเวลาเข้าฟังผ่าน Browser หรือ โหลด Android Player เพื่อการฟังเพลงผ่านแอปฯ JOOX รวมถึงสามารถ Login ผ่าน Wechat และ อีเมลได้ด้วย
        </div>
        <div class="col-2 text-center">
          <img src="https://software.thaiware.com/upload_misc/software/2019_06/thumbnails/13247_190619000750V1.png" width="75%">
        </div>
      </div>

      <div class="row" style="margin-bottom: 15px">
        <div class="col-2 text-center">
          <img src="https://software.thaiware.com/upload_misc/software/2017_07/thumbnails/13263_17070816182960.png" width="75%">
        </div>
        <div class="col-10 text-right">
          สำหรับโปรแกรมนี้มีชื่อว่า โปรแกรม Manroid มันเป็นโปรแกรมจัดการกับแอปพลิเคชันต่างๆ ที่ใช้งานบนมือถือระบบปฏิบัติการแอนดรอยด์ (Android) ผ่านระบบของ Google Play Store บน เว็บเบราว์เซอร์ โดยสามารถตั้งค่าและจัดการระบบต่างๆ ได้มากมาย
        </div>
      </div>

      <div class="row" style="margin-bottom: 15px">
        <div class="col-10">
          สำหรับโปรแกรมนี้มีชื่อว่า โปรแกรม YTPC โดยมีชื่อเต็มๆ มาจากคำว่า You watch Tube on PC เป็นโปรแกรมที่เหมาะสำหรับคนที่ชื่นชอบการชมคลิปวิดีโอจากบนยูทูปเป็นชีวิตจิตใจ เพราะโปรแกรมนี้ได้ถูกสร้างมาเอาไว้เพื่อใช้ดูคลิปวิดีโอจากบน Youtube โดยเฉพาะ ในแบบที่ช่วยอำนวยความสะดวกรวดเร็วในการเปิดเข้าใช้งานได้อย่างมาก
        </div>
        <div class="col-2 text-center">
          <img src="https://software.thaiware.com/upload_misc/software/2017_06/thumbnails/13196_17061021351191.png" width="75%">
        </div>
      </div>

      <div class="row" style="margin-bottom: 15px">
        <div class="col-2 text-center">
          <img src="https://software.thaiware.com/upload_misc/software/2020_05/thumbnails/14667_2005271648594A.png" width="75%">
        </div>
        <div class="col-10 text-right">
          สำหรับโปรแกรมนี้มีชื่อว่า SMPrice เป็นโปรแกรมสำหรับคำนวณพื้นที่ของที่ดิน ที่นา หรือ ไร่ ต่างๆ และมีการคำนวณราคาต่อตารางเมตร เป็นโปรแกรมสำหรับเกษตรกร หรือ ผู้ที่ต้องการหาหรือคำนวณพื้นที่สำหรับบ้านใหม่โดยเฉพาะ
        </div>
      </div>

    </div>

    <div class="topleft"><a href="home.html"><- ย้อนกลับ</a></div-->