<form action="/putstore" method="post">
    <div class="form-group row">
        <label for="inputbrand" class="col-sm-2 col-form-label">Brand</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputbrand" name="brand">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputmainboard" class="col-sm-2 col-form-label">Mainboard</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputmainboard" name="mainboard">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputcpu" class="col-sm-2 col-form-label">CPU</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputcpu" name="cpu">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputram" class="col-sm-2 col-form-label">RAM</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputram" name="ram">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputstorage" class="col-sm-2 col-form-label">STORAGE</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputstorage" name="storage">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputpsu" class="col-sm-2 col-form-label">PSU</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputpsu" name="psu">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputpccase" class="col-sm-2 col-form-label">CASE</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputpccase" name="pccase">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputcount" class="col-sm-2 col-form-label">จำนวนที่ซื้อ</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputcount" name="count">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputprice" class="col-sm-2 col-form-label">ราคาต่อเครื่อง</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputprice" name="price">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputdiscount" class="col-sm-2 col-form-label">ส่วนลด/ส่วนลดที่ลูกค้าขอ</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputdiscount" name="discount">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">ส่งค่า</button>
        </div>
    </div>
</form>