<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
function preview_image(event) {
    var reader = new FileReader();
    reader.onload = function(){
        var output = document.getElementById('preview');
        output.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
}
</script>
<form action="/uploadram" method="post" enctype="multipart/form-data" style="width: 50%">
    แบรด์
    <input type="text" name="brand" class="form-control">
    ขนาดของแรม
    <input type="text" name="mesize" class="form-control">
    บัสของแรม
    <input type="text" name="bus" class="form-control">
    จำนวนชิปของแรม
    <input type="text" name="chips" class="form-control">
    รูปภาพ
    <input type="file" name="file" accept="image/*" onchange="preview_image(event)">
    <input type="submit" value="Upload">
</form>
<img id="preview" class="img-fluid img-thumbnail" style="width: 200px;height: 200px;">
</body>
</html>